/**
 * Licensed to the .NET Foundation under one or more agreements.
 * The .NET Foundation licenses this file to you under the MIT license.
 */

/* Checkout https://getbootstrap.com/docs/5.3/customize/color/ for more customization options */
body {
  --bs-link-color-rgb: 66, 184, 131 !important;
  --bs-link-hover-color-rgb: 64, 180, 128 !important;
}

h3, .h3 {
  font-size: 1.35rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

h2, .h2 {
  padding-top: 1.0rem;
  padding-bottom: 0.3rem;
  margin-bottom: 0.8rem;
  border-bottom: 3px solid #b2b2c5;
}

h1, .h1 {
  padding-bottom: 2.0rem;
}